.redactor_box {
    float: left;
    width: 900px
}
.redactor_box.wide {
    width: 1200px
}
label.redactor_label {
    float: left;
    padding-bottom: 10px
}
form .aligned .redactor_editor p {
    margin-left: 0;
    padding-left: 0
}
